<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>PSRC Bike Facilities Editor</Name><AddInID>{4e0a833d-3fce-4b40-955c-78e14b024041}</AddInID><Description>used to automate editing bike facilites</Description><Version>0.7</Version><Image /><Author>Untitled</Author><Company>PSRC</Company><Date>04/13/2020</Date><Targets><Target name="Desktop" version="10.7" /></Targets><AddIn language="PYTHON" library="bike_attributes_editor_addin.py" namespace="bike_attributes_editor_addin"><ArcMap>
    <Commands>
      <ComboBox caption="Bike Edit Notes:" category="PSRC Bike Facilities Editor" class="BikeEditNotesComboBox" id="bike_attributes_editor_addin.BikeEditNotesComboBox" itemSizeString="WWWWWW" message="Select a value to apply to selected records" rows="4" sizeString="WWWWWW" tip="Select a value to apply to selected records"><Help heading="test">test</Help></ComboBox>
        <ComboBox caption="Bike Lanes:" category="PSRC Bike Facilities Editor" class="BikeLanesComboBox" id="bike_attributes_editor_addin.BikeLanesComboBox" itemSizeString="WWWWWW" message="Select a value to apply to selected records" rows="4" sizeString="WWWWWW" tip="Select a value to apply to selected records"><Help heading="test">test</Help></ComboBox>
        <ComboBox caption="Bike Facility:" category="PSRC Bike Facilities Editor" class="BikeFacilityComboBox" id="bike_attributes_editor_addin.BikeFacilityComboBox" itemSizeString="WWWWWW" message="Select a value to apply to selected records" rows="4" sizeString="WWWWWW" tip="Select a value to apply to selected records"><Help heading="test">test</Help></ComboBox>
        <ComboBox caption="Direction:" category="PSRC Bike Facilities Editor" class="DirectionComboBox" id="bike_attributes_editor_addin.DirectionComboBox" itemSizeString="WWW" message="Pick Facility Direction" rows="4" sizeString="WWW" tip="Pick Facility Direction"><Help heading="test">test</Help></ComboBox>
        <Button caption="Update" category="PSRC Bike Facilities Editor" class="UpdateBikeAttributesButton" id="bike_attributes_editor_addin.UpdateBikeAttributesButton" image="" message="Click to apply updates to selected records" tip="Click to apply updates to selected records"><Help heading="test">test</Help></Button>
        <Button caption="Undo" category="PSRC Bike Facilities Editor" class="UndoButton" id="bike_attributes_editor_addin.UndoButton" image="" message="Undo Last Edit" tip="Undo Last Edit"><Help heading="Undo Last Edit">test</Help></Button>
        <Button caption="Redo" category="PSRC Bike Facilities Editor" class="RedoButton" id="bike_attributes_editor_addin.RedoButton" image="" message="Redo" tip="Redo"><Help heading="test">test</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Bike Facilities Editor" category="PSRC Bike Facilities Editor" id="bike_attributes_editor_addin.toolbar" showInitially="true"><Items><ComboBox refID="bike_attributes_editor_addin.BikeLanesComboBox" /><ComboBox refID="bike_attributes_editor_addin.BikeFacilityComboBox" /><ComboBox refID="bike_attributes_editor_addin.DirectionComboBox" /><ComboBox refID="bike_attributes_editor_addin.BikeEditNotesComboBox" /><Button refID="bike_attributes_editor_addin.UpdateBikeAttributesButton" /><Button refID="bike_attributes_editor_addin.UndoButton" /><Button refID="bike_attributes_editor_addin.RedoButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>